.game {
  &__wrapper {
    max-width: 1199px;
    margin: 0 auto;
    padding: 20px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    width: 33%;
    border: 1px solid red;

    @media (max-width: 767px) {
      width: 100%;
    }
  }
}
